.nav{
    flex: 1 1 auto;
    
}
/* .color{
    position: fixed;
    padding: 20% ;
   max-width: 100%;
   background-size: 500px 600px;
   background: url(../../assets/images/download.jfif);
   background-repeat: no-repeat;
}
.img{
    width:auto; 
    text-align:center; 
    padding:20px; 
    background-size: 500px 600px;
} */